.idea
*/nvim/plugin
.obsidian

*/.config/.glzr/glazewm/errors.log
*/.config/configstore
*/.config/gitmoji-nodejs
*/.config/zsh/.zsh_sessions/
*/.config/zsh/.zsh_history

*/.config/gitmoji-nodejs

*/tmux/plugins

*/.ssh/id*
*/.ssh/known*


