.idea
*/nvim/plugin
.obsidian

*/.config/.glzr/glazewm/errors.log
*/.config/configstore
*/.config/gitmoji-nodejs
*/.config/zsh/.zsh_sessions/
*/.config/zsh/.zsh_history
*/.config/rbenv/versions
*/.config/rbenv/shims
*/.config/polybar/polybar.log

*/.config/gtk-3.0/bookmarks

*/.config/gitmoji-nodejs

*/tmux/plugins

*/.ssh/id*
*/.ssh/known*

*/.config/github-copilot

